@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.software-skill-inline > i {
  color: $subTitle;
}

.software-skill-inline > p {
  color: $subTitle;
  font-size: 10px;
}
.software-skill-inline > i:hover ~ p {
  color: $skillsColor;
}

.icon-dart {
  display: inline-block;
  width: 42px;
  height: 42px;
  background: url('../../assets/images/dart.svg');
  background-size: cover;
}

.icon-dart:hover {
  fill: red;
}

.icon-springboot {
  display: inline-block;
  width: 42px;
  height: 42px;
  background: url('../../assets/images/springboot.svg');
  background-size: cover;
}

.icon-flutter {
  display: inline-block;
  width: 42px;
  height: 42px;
  background: url('../../assets/images/flutter.svg');
  background-size: cover;
}

.icon-mongodb {
  display: inline-block;
  width: 42px;
  height: 42px;
  background: url('../../assets/images/mongodb.svg');
  background-size: cover;
}

.icon-firebase {
  display: inline-block;
  width: 42px;
  height: 42px;
  background: url('../../assets/images/firebase.svg');
  background-size: cover;
}

.icon-mysql {
  display: inline-block;
  width: 42px;
  height: 42px;
  background: url('../../assets/images/mysql.svg');
  background-size: cover;
}

.icon-postgresql {
  display: inline-block;
  width: 42px;
  height: 42px;
  background: url('../../assets/images/postgresql.svg');
  background-size: cover;
}

.icon-katalon {
  display: inline-block;
  width: 42px;
  height: 42px;
  background: url('../../assets/images/katalon.svg');
  background-size: cover;
}
